.text-area .text {

    -fx-text-alignment: center;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}



.text-area, .text-area .content {
    -fx-background-color: #81CFFF ;
    -fx-background-radius: 20;
    -fx-border-radius: 35;
}


.choiceBox {
	
	-fx-background-color: #FFEA00;
	-fx-font-size: 20;
	
}

.choiceBox-activate {
	
	-fx-border-color: #FFEA00;
	-fx-border-width: 5;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	
}